<div class="form-container">
  <h1 class="mt-3">Register A Pet</h1>
  <div class="form">
    <span class="p-float-label mb-3">
      <input id="owner_name" type="text" pInputText class="w-full" />
      <label for="owner_name">Your name</label>
    </span>
    <span class="p-float-label mb-3">
      <input
        id="owner_phone"
        type="text"
        pInputText
        class="w-full"
        placeholder="+33 9985458545"
      />
      <label for="owner_phone">Your phone</label>
    </span>
    <span class="p-float-label mb-3">
      <p-dropdown
        [options]="categories"
        placeholder="Select a Category"
        optionLabel="name"
        styleClass="w-full"
      ></p-dropdown>
      <label for="category">Pet's Category</label>
    </span>
    <span class="p-float-label mb-3">
      <input id="name" type="text" pInputText class="w-full" />
      <label for="name">Pet's Name</label>
    </span>
    <span class="p-float-label mb-3">
      <input id="breed" type="text" pInputText class="w-full" />
      <label for="breed">Pet's Breed</label>
    </span>
    <div class="grid">
      <div class="col-11">
        <span class="p-float-label">
          <textarea
            id="desc"
            rows="5"
            cols="30"
            pInputTextarea
            class="w-full mb-3"
            (input)="setLen($event)"
          ></textarea>
          <label for="desc">Pet's Description</label>
        </span>
      </div>
      <div class="col-1">
        <p-chip [label]="textLen.toString()" icon="pi pi-volume-up"></p-chip>
      </div>
    </div>
    <div>
      <h5>Pet's Images</h5>
      <p-fileUpload
        name="image[]"
        [customUpload]="true"
        (uploadHandler)="uploadHandler($event)"
        (onUpload)="onUpload($event)"
        [multiple]="true"
        accept="image/*"
        [maxFileSize]="1000000"
        [showUploadButton]="false"
        [showCancelButton]="false"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
    <p-button
      label="Save"
      icon="pi pi-circle"
      iconPos="right"
      [loading]="loading[1]"
      (onClick)="load(1)"
      styleClass="w-full mt-3"
    ></p-button>
  </div>
</div>
