<div id="layout">
  <nav class="bg-primary z-0">
    <div class="container-center">
      <coulbyl-nav-bar [items]="menuItems"></coulbyl-nav-bar>
      <coulbyl-meet-a-pet></coulbyl-meet-a-pet>
    </div>
  </nav>
  <main>
    <ng-content></ng-content>
  </main>
  <div id="all-pets">
    <p-button
      label="View all pets"
      styleClass="p-button-link"
      routerLink="/all-pets"
    ></p-button>
  </div>
  <footer class="bg-primary p-4">
    <coulbyl-footer-content></coulbyl-footer-content>
  </footer>
  <p-scrollTop
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
</div>
